<%- include("../partials/header"); -%>
<div class="content">
  <div class="container">
    <h2 class="mb-5">회원관리</h2>
<form action="/main" method="GET">
  <input type="text" name="where" value="<%=where%>">
  <button type="submit">검색</button>
  </form>

    <div class="table-responsive">
      <table class="table table-striped custom-table">
        <div>
          총 회원 수: <%=totalUser%> 명
        </div>
        <thead>
          <tr>
            <th scope="col">카카오아이디</th>
            <th scope="col">닉네임</th>
            <th scope="col">연령대</th>
            <th scope="col">관심분야</th>
            <th scope="col">가입일</th>
          </tr>
        </thead>
        <tbody>
          <%if(data){data.forEach((element)=> {%>
          <tr>
            <!-- <td>
                <label class="control control--checkbox">
                <input type="checkbox" />
                <div class="control__indicator"></div>
                </label>
              </td> -->
            <td>
              <%=element.kakaoId %>
            </td>
            <td class="pl-0">
              <div class="d-flex align-items-center">
                <a href="user/<%=element._id%>" class="name">
                  <%=element.nickname %>
                </a>
              </div>
            </td>
            <td>
              <%=element.email%>
              <small class="d-block">
                <%=element.ageGroup%>
              </small>
            </td>
            <td>
              <%=element.specialty %>
            </td>
            <td>
              <%= element.createdAt.toString().substring(0, 15) %>
            </td>
            <!-- <td>
                <label class="custom-control ios-switch">
                  <input type="checkbox" class="ios-switch-control-input" checked="">
                  <span class="ios-switch-control-indicator"></span>
                  </label>
              </td> -->
          </tr>
          <%})}else {%>
          <h1>가입한 회원이 없습니다.</h1>
          <%}%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("../partials/footer"); -%>
